# Fisiere temporare ale sistemului de operare
.DS_Store
Thumbs.db

# Foldere generate de build
/build/
bin/
obj/

# Fisiere generate de IDE-uri
*.cbp         # Proiecte Code::Blocks
*.layout      # Configuratii vizuale Code::Blocks
*.cproject    # Eclipse C++
*.project
*.vscode      # Setari Visual Studio Code
*.idea        # Setari IntelliJ/CLion
*.swp         # Fisiere temporare Vim
*.log         # Loguri temporare

# Fisiere executabile
*.exe
*.out
*.app

# Fisiere obiect
*.o
*.obj

# Fisiere de configurare pentru debug
*.gdb
*.pdb

# Fisiere temporare de compilare
*.tmp
*.bak
*.old
*.class

# Fisierele de backup
*~
